.balance-card {
    background-color: #1D1D29;
    color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0,  0.1);
    flex: 1;
    text-align: left;
    min-width: 200px;
}

.balance-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: #A0A1FC;
}

.balance-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.balance-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-size: 0.875rem;
    color: #b0b0b0;
}

.value {
    font-size: rem;
    font-weight: 500;
}

.value.balance {
    color: #86E29B;
}

.value.expenses {
    color: #E668EA;
}

.value.negative {
    color: #FF4D4D;
}