<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
</head>
<body>
   <div class="conatiner">
    <div class="left-panel">
        <h2>Welcome!</h2>
        <p>Welcome to our financial planner! Sign Up and enjoy our services !!!</p>
        <a href="{{url_for('register')}}"><button class="btn-outline">Sign Up</button></a>
    </div>
   </div>
</body>
</html>
